<html>

<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
</head>

<body>

<h1>This is show_tree3</h1>

<div id="container">
  <ul>
    <li>Dynastidae
      <ul>
        <li>Oryctes
          <ul>
            <li>Oryctes rhinoceros</li>
          </li>
        </li>
      </ul>
    </li>
  </ul>
</div>

<script>
$(function() {
  $('#container').jstree();
});
</script>

</body>
</html>
